@media (max-width: 780px) {
  .so-widget-sow-button-atom-842e9ea987d2 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-atom-842e9ea987d2 .ow-button-base.ow-button-align-center.ow-button-align-justify .sowb-button {
    display: inline-block;
  }
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fa5c5c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f82b2b), color-stop(1, #fa5c5c));
  background: -ms-linear-gradient(bottom, #f82b2b, #fa5c5c);
  background: -moz-linear-gradient(center bottom, #f82b2b 0%, #fa5c5c 100%);
  background: -o-linear-gradient(#fa5c5c, #f82b2b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa5c5c', endColorstr='#f82b2b', GradientType=0);
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-color: #f81c1c #f81212 #f30707 #f81212;
  border: 1px solid;
  color: #ffffff !important;
  font-size: 1em;
  
  padding-block: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 100%;
  padding-inline: 2em;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button > span {
  display: flex;
  justify-content: center;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button > span [class^="sow-icon-"] {
  font-size: 1.3em;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button.ow-icon-placement-top > span {
  flex-direction: column;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button.ow-icon-placement-right > span {
  flex-direction: row-reverse;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button.ow-icon-placement-bottom > span {
  flex-direction: column-reverse;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button.ow-icon-placement-left > span {
  align-items: start;
}
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button.ow-button-hover:active,
.so-widget-sow-button-atom-842e9ea987d2 .ow-button-base .sowb-button.ow-button-hover:hover {
  background: #fa6666;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f93434), color-stop(1, #fa6666));
  background: -ms-linear-gradient(bottom, #f93434, #fa6666);
  background: -moz-linear-gradient(center bottom, #f93434 0%, #fa6666 100%);
  background: -o-linear-gradient(#fa6666, #f93434);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6666', endColorstr='#f93434', GradientType=0);
  border-color: #fb7070 #fa6666 #fa5757 #fa6666;
  color: #ffffff !important;
}