.so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base.ow-button-align-left {
    text-align: center;
  }
  .so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base.ow-button-align-left.ow-button-align-justify .sowb-button {
    display: inline-block;
  }
}
.so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base .sowb-button {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  background: #dd9933;
  border-width: 1px 0;
  border: 1px solid #dd9933;
  color: #ffffff !important;
  font-size: 1em;
  
  padding: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  width: 50%;
  max-width: 100%;
  padding-inline: 2em;
}
.so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base .sowb-button.ow-button-hover:active,
.so-widget-sow-button-flat-f852cc7cc4a3-7139 .ow-button-base .sowb-button.ow-button-hover:hover {
  background: #e0a244;
  border-color: #e0a244;
  color: #ffffff !important;
}